.launch-buddy-popup-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: #282c34;
  height: 100%;
}

.launch-buddy-text-area {
  min-height: 280px;
  min-width: 500px;
}

.launch-buddy-popup-logo {
  height: 40vmin;
  pointer-events: none;
}

.launch-buddy-app-container {
  height: 1000px;
}

button:disabled {
  background-color: #cccccc;
  color: #888888;
  cursor: not-allowed;
}

.launch-buddy-popup-container__start-button {
  padding-top: 20px;
}

.launch-buddy-popup-container__product-url {
  padding-top: 20px;
}

.launch-buddy-popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: auto;
}

.launch-buddy-popup-container-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .launch-buddy-popup-container-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.launch-buddy-popup-container-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.launch-buddy-popup-container-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}